.error{
    height: 100%;
    display: flex;
    align-items: center;
    &__body{
        position: relative;
        text-align: center;
        padding-top: 46px;
    }
    &__bg{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: -1;
        pointer-events: none;
    }
    &__title{
        margin-bottom: 80px;
        h1{
            font-size: 228px;
            font-weight: 600;
            color: $colorAdv;
        }
    }
    &__subtitle{
        margin-bottom: 70px;
        h2{
            font-weight: 300;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.1px;
            color: #1D1F1D;
        }
    }

    @media(max-width: $md4+px){
        &__title{
            h1{
                font-size: 148px;
            }
        }
        &__subtitle{
            h2{
                font-size: 16px;
            }
        }
        &__btn{
            a{
                font-size: 14px;
            }
        }
    }
}