.line{
    z-index: 100;
    width: 100%;
    height: 1px;
    background-color: $colorGray;
}

.header {

    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 95px;
    }

    &__soc {
        margin-left: 24px;
        flex: 0 1 33.333%;
        a{
            font-size: 19px;
        }
        a:nth-child(1){
            margin-right: 24px;
        }
        a:hover{
            color: $colorAdv;
        }
    }

    &__logo {
        display: flex;
        flex: 0 1 33.333%;
        justify-content: center;
    }

    &__side {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 0 1 33.333%;
        margin-right: 32px;
        .icon-Phone{
            font-size: 16.5px;
        }
    }

    &__language {
        display: flex;
        flex-direction: row;
        margin-left: 27.5px;
        span{
            position: relative;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 12.6px;
            letter-spacing: 0.07px;
        }
        span::after{
            position: absolute;
            content: url(../img/new-vector.svg);
            top: -1px;
            right: -14px;
            height: 5px;
            width: 10px;
            // background: url(../img/new-vector.svg) no-repeat center;
        }
    }

    &__burger-icon{
        display: none;
    }
}

.second-header {
    background-color: $colorBg;
    &__container {
    }

    &__body {
    }

    &__list {
        padding: 18px 0px;
        display: flex;
        flex-direction: row;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.07px;
        line-height: 90%;
        justify-content: center;
        li{
            margin: 0px 30px;
        }
        a{
            color: $colorBlack;
            transition: color 0.5s;
        }
        a:hover{
            color: $colorAdv;
            text-decoration: underline;
        }
    }
}

.sticky{
    position: fixed;
    width: 100%;
    z-index: 999;
}

@media (max-width: $md2+px) {
    .second-header__list li{
        
        margin: 0px 15px;
        
    }
}

@media (max-width: $md3+px) {
    
    .header{
        &__soc{
            display: none;
        }

        &__side{
            margin-right: 0px;
            flex: 0 0 auto;
        }

        &__language{
            display: none;
        }

        &__body{
            height: auto;
            padding: 24px 0px;
            justify-content: space-between;
        }

        &__logo{
            flex: 0 0 auto;
            justify-self: start;
        }

        &__burger-icon{
            position: relative;
            justify-self: end;
            display: block;
            margin-left: 26.5px;
            width: 28px;
            height: 16px;
            &::after,&::before{
                position: absolute;
                content: '';
                left: 0;
                height: 10%;
                width: 100%;
                background-color: $colorBlack;
            }
            &::after{
                bottom: 0;
            }
            span{
                position: absolute;
                left: 0;
                top: 50%;
                height: 10%;
                width: 100%;
                background-color: $colorBlack;
                transform: scale(1) translate(0px, -50%);
            }
        }
    }
    
    .second-header{
        
    }

    .burger{
    
    }
}